<main id="main">
  <section class="categories">
    <%- partial('_partial/components/header', {title: 'Categories', subtitle: `${site.categories.length} categories in total`}) %>
    <%- list_categories({orderby: "length", order: -1}) %>
  </section>
</main>